repos:
  - repo: https://github.com/dycw/actions
    rev: 0.10.4
    hooks:
      - id: conformalize-repo
        args:
          - --description=Neovim config
          - --gitignore
          - --pre-commit--prettier
          - --pre-commit--taplo
          - --readme
          - --repo-name=neovim
  - repo: https://github.com/queensberry-research/conformalize
    rev: 0.2.3
    hooks:
      - args:
          - --ci--pull-request--pre-commit
          - --ci--pull-request--pre-commit--submodules=true
          - --ci--push--tag
          - --gitea-host=gitea.main
          - --repo-name=neovim
        id: conformalize
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: no-commit-to-branch
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          - markdown
          - yaml
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
