repos:
  # fixers
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          [
            --option,
            indent_tables=true,
            --option,
            indent_entries=true,
            --option,
            reorder_keys=true,
          ]
  - repo: https://github.com/reteps/dockerfmt
    rev: v0.3.9
    hooks:
      - id: dockerfmt
        args: [--newline, --write]
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [markdown, yaml]
  # linters
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
  # fixers/linters
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: 0.13.25
    hooks:
      - id: check-submodules-updated
        args: [--run-every=PT5M]
      - id: check-version-bumped
      - id: replace-sequence-str
      - id: run-bump-my-version
        args: [--mode=bumpversion]
      - id: tag-commits
        args: [--run-every=PT5M, --max-age=P1W, --mode=bumpversion]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
